<!-- <div style="background-color: red; flex-grow: 1" class="d-flex flex-column">
    <div style="background-color: green; height:100px;" id="header"></div>
    <div class="d-flex" style="background-color: yellow; flex-grow: 1; padding: 10px;" id="content">
    <div style="background-color: white; width: 20%"></div>
    <div class="d-flex align-items-center justify-content-between" style="background-color: black; width: 80%">
    <div style="width: 100px; height: 100px;background-color:white" ></div>
    <div style="width: 100px; height: 50px;background-color:white" ></div>
    <div style="width: 80px; height: 200px;background-color:white" ></div>
    </div>
    <div></div>
    </div>
    <div class="align-self-end" style="background-color: blue; height: 100px" id="footer"></div>
    </div> -->


<div class="d-flex flex-row" style="flex-grow: 1">
  <div *ngIf="sideBarIsActive" style="background-color: black; width: 20%;" id="sidebar">
      <button (click)="onClickSideBar()" class="btn btn-success" style=" margin-top: 10px; margin-right: 5px; width: 70px; height: 50px; font-family: Arial, Helvetica, sans-serif; float: right; text-align: center;">Click</button>
 </div>
  <div class="d-flex flex-column" style="background-color: rgba(11, 90, 90, 0.24); flex-grow: 1; padding: 10px;" id="content">
    <div class="d-flex align-items-center justify-content-between" style="background-color: slateblue; flex-grow: 1; " id="content-header">
      <button (click)="onClickContentHeader()" type="button" class="btn btn-success" style="width: 70px; height: 50px; font-family: Arial, Helvetica, sans-serif;">Click</button>
      <button type="button" class="btn btn-success" style="width: 70px; height: 50px; font-family: Arial, Helvetica, sans-serif;">Don't Click</button>
    </div>
    <div style="background-color: sienna; flex-grow: 5;" id="inside-content"></div>
    <div style="background-color: springgreen; flex-grow: 1;" id="footer">
    <button type="button" class="btn btn-warning" style=" margin-top: 10px; width: 70px; height: 50px; font-family: Arial, Helvetica, sans-serif; float: right; text-align: center;">Don't Click</button>
    </div>
  </div>
</div>